div.slick-hero-carousel
	height: 100vh
	// height: 100vh
	width: 100%
	position: relative
	top: 50px
	h1 
		position: absolute
		z-index: 20920390
		left: 100px
		top: 100px
		font-size: 50px
		span
			font-size: 80px
			font-family: +openSans
			font-weight: 900
	div.slide
		width: 100vw
		height: 100vh
		background-size: cover
		background-position: bottom center
		background-repeat: no-repeat
	div.slide-one
		background-image: url(../images/hero-one.jpg)
	div.slide-two
		background-image: url(../images/hero-two.jpg)
	div.slide-three
		background-image: url(../images/hero-three.jpg)
	div.slide-four
		background-image: url(../images/hero-four.jpg)