div.row-one
	padding: 20px 10px 0 290px

div.row-two-projects
	padding: 0 10px 0 290px
	img
		padding: 0 10px


div.project-quote
	p
		color: $textColor
		text-align: center
		font-weight: bold
		padding: 45px 90px 10px 90px

div.pic
	border: 5px solid #000 
	height: 450px
	width: 800px
	margin: 20px
	overflow: hidden

div.grow 
	img 
		height: 450px
		width: 800px
		-webkit-transition: all 1s ease
		-moz-transition: all 1s ease
		-o-transition: all 1s ease
		-ms-transition: all 1s ease
		transition: all 1s ease
 
div.grow 
	img:hover 
		height: 125%
		width: 125%
