div.row-one-projects
	padding: 20px 10px 0 290px
	img
		padding: 20px 10px
	a
		height: 400px
		width: 400px
		text-decoration: none
		&:hover
		background-color: rgba(255, 255, 255, 0.8)

div.row-two-projects
	padding: 0 10px 0 290px
	img
		padding: 0 10px
	a:hover
		background-color: rgba(255, 255, 255, 0.8)

div.project-quote
	p
		color: $textColor
		text-align: center
		font-weight: bold
		padding: 45px 90px 10px 90px