mixin footer
	footer
		div.copyright
			h6 &#169; Manny Dickson 2014
		div.links
			a(href="project-one.html", target="_blank") LinkedIn
			a(href="http://", target="_blank") | &nbsp;&nbsp;&nbsp; Contact Me
		div.clear