mixin nav
	nav
		div.logo
			a(href="index.html")
				img(src="images/logo.png", alt="")
		div.links
			a(href="about.html") About
			a(href="uxdesign.html") UX Design
			a(href="expertise.html") Expertise
			a(href="contact.html") Contact
		div.clear