mixin nav
	nav
		div.logo
			img(src="images/", alt="")
		div.links
			a(href="http://", target="_blank") About
			a(href="http://", target="_blank") UX Design
			a(href="http://", target="_blank") Expertise
			a(href="http://", target="_blank") Contact