mixin nav
	nav
		div.logo
			//- img(src="images/", alt="")
		div.links
			a(href="about.html", target="_blank") About
			a(href="uxdesign.html", target="_blank") UX Design
			a(href="expertise.html", target="_blank") Expertise
			a(href="contact.html", target="_blank") Contact
		div.clear