mixin scripts
	div.scripts
		script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		//- script(type="text/javascript", src="other/owl-carousel/owl.carousel.min.js")
		script(type="text/javascript", src="other/slick/slick.min.js")
		script(type="text/javascript", src="js/main.js")