include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead
	body
		mixin nav
		div.container
			div.bg-text
				h3 Background:
				p Growing up in Sydney in the 1980&#039;s, I spent most of my childhood playing with lego or running around with a tool belt pretending to build houses. From a young age I was fascinated with making and building things. As I matured this passion turned into skills that have paved the way for my creative career. I have an enthusiasm for photography, I own a pretty impressive collection of ties and I am currently learning the ukulele
			div.bg-image
				img(src="../images/manny-portrait.jpg", alt="Manny")
			div.edu-text
				h3 Education:
				p Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. 
			div.edu-image
				img(src="http://placehold.it/140x100", alt="UTS")
				img(src="http://placehold.it/140x100", alt="General Assembly")
			div.clear
			div.cv
				img(src="http://placehold.it/240x100", alt="Resume")
			div.linkedin
				img(src="http://placehold.it/240x100", alt="LinkedIn")
			div.clear
			div.aw-text
				h3 Awards:
				p Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. 
			div.aw-image
				img(src="http://placehold.it/140x100", alt="ADA")
				img(src="http://placehold.it/140x100", alt="Furn")
			div.clear
			div.brands-text
				h3 Companies/Brands I've worked for:
				p I have had the privilege to work with many clients from all over the world, ranging from large multi-nationals to smaller local businesses. Here are some of the clients that I have had the privilege to work with, past and present.
			div.clear
			div.row-one-logos
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
			div.row-two-logos
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
				img(src="http://placehold.it/140x100", alt="Logo")
			div.past-carousel
				h3 Some of my past work:
			div.int-text
				h3 Interests and Hobbies:
				p Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. 
			div.about-quote
				hr
				p "Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock." - Manny Dickson


		mixin footer
		mixin scripts