include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead
	body
		mixin nav
		div.container



		mixin scripts