include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_nav_normal.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead
	body
		mixin navNormal
		div.container
			div.ex-text
				h3 User Experience Skills:
			div.row-one-ex
				img(src="http://placehold.it/400x250", alt="Cartoon")
				img(src="http://placehold.it/400x250", alt="Cartoon")
				img(src="http://placehold.it/400x250", alt="Cartoon")
			div.row-two-ex
				img(src="http://placehold.it/400x250", alt="Cartoon")
				img(src="http://placehold.it/400x250", alt="Cartoon")
				img(src="http://placehold.it/400x250", alt="Cartoon")
			div.software-text
				h3 UX Software:
			div.row-one-soft
				img(src="../images/software-acrobat.png", alt="Adobe Acrobat")
				img(src="../images/software-photoshop.png", alt="Adobe Photoshop")
				img(src="../images/software-illustrator.png", alt="Adobe Illustrator")
				img(src="../images/software-lightroom.png", alt="Adobe Lightroom")
				img(src="../images/software-axure.png", alt="Axure")
				img(src="../images/software-evernote.png", alt="Evernote")
			div.row-two-soft
				img(src="../images/software-keynote.png", alt="Keynote")
				img(src="../images/software-typeform.png", alt="Typeform")
				img(src="../images/software-invision.png", alt="Invision")
				img(src="../images/software-omnigraffle.jpg", alt="Omnigraffle")
				img(src="../images/software-msoffice.png", alt="MS Office")
				img(src="../images/software-surveymonkey.png", alt="Survey Monkey")
			div.sidepro-text
				h3 Side Projects:
				p PHOTOGRAPHY | FURNITURE DESIGN | HOME RENOVATIONS


		mixin footer
		mixin scripts