include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead
	body
		mixin nav
		div.container
			div.ex-text
				h3 User Experience Skills:
			div.row-one-ex
				img(src="http://placehold.it/400x250", alt="Cartoon")
				img(src="http://placehold.it/400x250", alt="Cartoon")
				img(src="http://placehold.it/400x250", alt="Cartoon")
			div.row-two-ex
				img(src="http://placehold.it/400x250", alt="Cartoon")
				img(src="http://placehold.it/400x250", alt="Cartoon")
				img(src="http://placehold.it/400x250", alt="Cartoon")
			div.software-text
				h3 UX Software:
			div.row-one-soft
				img(src="http://placehold.it/140x100", alt="Software")
				img(src="http://placehold.it/140x100", alt="Software")
				img(src="http://placehold.it/140x100", alt="Software")
				img(src="http://placehold.it/140x100", alt="Software")
			div.crtools-text
				h3 Creative Tools:
			div.row-one-crtools
				img(src="http://placehold.it/140x100", alt="Creative Tools")
				img(src="http://placehold.it/140x100", alt="Creative Tools")
				img(src="http://placehold.it/140x100", alt="Creative Tools")
				img(src="http://placehold.it/140x100", alt="Creative Tools")
			div.pm-text
				h3 Project Management:
				p Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. 
			div.row-one-pm
				img(src="http://placehold.it/140x100", alt="Creative Tools")
				img(src="http://placehold.it/140x100", alt="Creative Tools")
				img(src="http://placehold.it/140x100", alt="Creative Tools")
				img(src="http://placehold.it/140x100", alt="Creative Tools")
			div.sidepro-text
				h3 Side Projects:


		mixin footer
		mixin scripts