include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_hero_carousel.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead(Home)
	body
		mixin nav
		mixin heroCarousel
		div.blurb
			h2 
				| Manny Dickson is a researcher, strategist and designer with an affinity for user experience.  
				| He has worked and learnt from some of the world&#039;s most creative individuals, brands and companies, providing an in-depth and 
				| diverse understanding of users needs. 
				br
				br
				| A true user focused design thinker and problem solver, Manny observes and acts on problems with curiosity, insightfulness and 
				| pragmatism. Manny&#039;s role is to take the responsibility of a design problem from initial brief to delivery. He is well experienced with 
				| client relationships, stakeholders management, user interviews and production teams. 
		mixin footer
		mixin scripts