include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_nav_scrolled.jade
include mixins/_hero_carousel.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead(Home)
	body
		mixin navScrolled
		mixin nav
		mixin heroCarousel
		div.blurb
			h2 
				| I am a UX Designer with a background in Industrial Design.  
				| As a Creative Online Strategist, I have worked with some of the worlds most innovative individuals and companies.
				br
				br
				| My success is proven with over ten years experience in design, contextual inquiry and stakeholder management.
				| I solve problems with curiosity, insightfulness and pragmatism.
		mixin footer
		mixin scripts