include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_nav_normal.jade
include mixins/_hero_carousel.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead
	body
		mixin navNormal
		div.container
			div.comp-an-text
				h3 Competitive Analysis:
				p Competitive analysis involved research in both boutique toy stores and big retailers.<br />Key insights were collected and compared to the stake holder&#039;s goals and desires: To have a personal and unique online experience. 
			div.comp-an-image
				img(src="../images/TMTS-CompetitiveAnalysis.jpg", alt="Manny")
			div.context-survey-text
				h3 Contextual Inquiry/User Research:
				p Research was collected by visiting boutique toy stores. Customers were watched interacting with sales staff, thereby understanding the user experience in a physical bricks and mortar environment. 
			div.context-survey-image
				img(src="../images/TMTS-Contextual-Inquiry-User-Research.jpg", alt="Manny")
			div.persona-text
				h3 Personas:
				p Three personas were supplied by the client at the start of the project. These typical users portrayed common needs and pain-points.<br />Key insights were broken down into three main categories:
				ul
					li Design Requirements
					li Product/Content/Images/Description
					li Customer Service/Sales Requirements 
			div.persona-image
				img(src="../images/TMTS-Personas.jpg", alt="Manny")
			div.info-arch-text
				h3 Information Architecture / Product Sorting:
				p Using the top 100 selling products provided by the client, open and closed card sorting was conducted in focus groups. Logical and meaningful categories were determined. OptimalSort was a handy online tool for this process.
			div.info-arch-image
				img(src="../images/TMTS-Information-Architecture-Product-Sorting.jpg", alt="Manny")
			div.site-map-text
				h3 Site Map:
				p A site map was constructed after global navigation and product categories were defined.
			div.site-map-image
				img(src="../images/TMTS-Site-Map.jpg", alt="Manny")
			div.flow-journey-text
				h3 User Flows &amp; Journeys:
				p The client provided three user scenarios at initial briefing . These were indicative to typical customers and their needs.<br />User flows were created for each scenario which confirmed the shopping process and main design features. 
			div.flow-journey-image
				img(src="../images/TMTS-UserFlows-Journeys.jpg", alt="Manny")
			div.design-studio-text
				h3 Design Studio Sketching:
				p Initial wireframes evolved from research gathered and initial user testing. Emphasis was put on keeping the home page and check out process simple and familiar.  
			div.design-studio-image
				img(src="../images/TMTS-Design-Studio-Sketching.jpg", alt="Manny")
			div.wire-proto-text
				h3 Wireframes - Home Page and Products:
				p Wireframes for the main navigation, product search and reviews were built in Omnigraffle and imported into InvisionApp for interactive testing. 
			div.wire-proto-image
				img(src="../images/TMTS-Wireframe-Prototype-1.jpg", alt="Manny")
			div.wire-check-text
				h3 Wireframes - Check Out Process:
				p Wireframes for the check out process were also built in Omnigraffle and imported into InvisionApp for testing.<br />Important focus was spent on the simplicity and ease of check out and payment with a call to action to continue looking at popular items upon final payment. 
			div.wire-check-image
				img(src="../images/TMTS-Wireframe-Prototype-2-e-commerce.jpg", alt="Manny")
			div.user-test-text
				h3 User Testing:
				p The prototype was tested on a number of first time users. The observations and feedback were recorded according to Nielsen&#039;s 5 qualities of usability. 
				ul
					li Learnability: &nbsp;&nbsp;All users were able to clearly complete each task asked of them
					li Efficiency: &nbsp;&nbsp;Check Out process was simple and easy to use
					li Memorability: &nbsp;&nbsp;Navigation could use improvements such as more efficient bread crumbs in navigation
					li Error Management: &nbsp;&nbsp;A description under each check out / payment field would eliminate confusion (if any)
					li Satisfaction: &nbsp;&nbsp;Call to action - have a look at other items after purchase and saved items was a successful idea 
			div.user-test-image
				img(src="../images/TMTS-User-Testing.jpg", alt="Manny")
			div.client-pres-text
				h3 Client Presentation:
				p At the end of the 2.0 week project, the team presented the key findings and prototype to General Assembly. 
			div.client-pres-image
				img(src="../images/TMTS-Client-Presentation.jpg", alt="Manny")





		mixin footer
		mixin scripts