include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_hero_carousel.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead
	body
		mixin nav
		div.container
			div.brief-text
				h3 Brief:
				p Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. 
			div.brief-image
				img(src="http://placehold.it/140x100", alt="ADA")
				br
				img(src="http://placehold.it/140x100", alt="ADA")
			div.clear
			div.process01-image
				img(src="http://placehold.it/530x380", alt="")
			div.process01-text
				h3 Process:
				p Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. 
			div.clear
			div.process02-text
				h3 Process:
				p Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. 
			div.process02-image
				img(src="http://placehold.it/530x380", alt="")
			div.clear
			div.process01-image
				img(src="http://placehold.it/530x380", alt="")
			div.process01-text
				h3 Process:
				p Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. 
			div.clear
			div.process02-text
				h3 Solution:
				p Bacon ipsum dolor sit amet ribeye tongue leberkas, sausage short loin doner beef ground round. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. Strip steak biltong swine ham hock. Meatloaf strip steak pancetta bacon pork chop leberkas beef ribs beef. 
			div.process02-image
				img(src="http://placehold.it/530x380", alt="")
			div.clear




		mixin footer
		mixin scripts