include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_hero_carousel.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead
	body
		mixin nav
		div.container
			div.row-one
				div.grow.pic
					img(src="images/project-one.jpg")
				div.grow.pic
					img(src="images/project-two.jpg")
				div.grow.pic
					img(src="images/project-three.jpg")
		div.clear

		div.project-quote
			p "If you like what you see, great! But don&#039;t be surprised if it&#039;s different the next time you look.<br/>For I believe the only way to stay ahead in this ever changing creative world<br /> is to anticipate tomorrow and adapt accordingly." ~ Manny Dickson
	
		mixin footer
		mixin scripts