include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_hero_carousel.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead
	body
		mixin nav
		div.container
			div.row-one-projects
				img(src="../images/project-appetite.jpg", alt="Sydney Transport")
				img(src="../images/project-toyshop.jpg", alt="Project")
				img(src="../images/project-sydneytransport.jpg", alt="Project")


		mixin scripts