include mixins/_document_head.jade
include mixins/_nav.jade
include mixins/_hero_carousel.jade
include mixins/_footer.jade
include mixins/_scripts.jade

doctype html
html
	mixin documentHead
	body
		mixin nav
		div.container
			div.row-one-projects
				div.proj-left
					div.grow.pic
						img(src="images/project-appetite.jpg")
				div.proj-right
					div.grow.pic
						img(src="images/project-sydneytransport.jpg")
		div.clear

		div.project-quote
			p "If you like what you see, great! But don&#039;t be surprised if it&#039;s different the next time you look.<br/>For I believe the only way to stay ahead in this ever changing creative world<br /> is to anticipate tomorrow and adapt accordingly." ~ Manny Dickson
	
		
		mixin scripts